@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap');
*{
    font-family:"Roboto", sans-serif;
    margin: 0;
}
body{
    background-image:url(/img/bg2.jpg);
    background-attachment: fixed;
}
.contenedor{
    margin: auto;
    width: 50%;
    background-color: rgba(210, 216, 216, 0.9);
    border-radius: 15px;
}
.name{
    color: #195b63;
    border-radius: 15px 15px 0 0;
    text-align: center;
    width: auto;
    padding: 30px;
}
nav .navbar{
    padding: 0 40px 40px 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-radius: 15px;
}
.item{
    text-decoration: none;
    color: #195b63;
}
.contenedor_1 {
    display: inline-flex;
    padding: 15px;
}
.box1{
    display: flex;
    padding: 10px; 
}
.box2 {
    width: 100%; 
    padding: 10px; 
}
.imagen {
    max-width: 130px;
}
.imagen img {
    width: 100%;
    height: auto; 
    border-radius: 35%;
    margin-top: 15px;
}
.box{
    margin: 5px 50px 5px 50px;
}
h2{
    color: #195b63;
    padding: 10px 0px;
}
.contact h2{
    text-align: center;
}

.contact_icons ul{
    padding: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}